<div id="app">
  <!-- navbar start -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-lg bg-light">
    <!-- logo -->
    <a href="/" target="_self" class="navbar-brand active">
      <img src="assets/images/fc-logo.svg" width="149" height="27" alt="FusionCharts">
    </a>
    <!-- FC home -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="header-link" href="//github.com/fusioncharts/angular-fusioncharts" target="_blank">GitHub Repository</a>
      </li>
    </ul>
  </nav>
  <!-- navbar end -->
  <div class="page-container">
    <div id="mainContainer" class="main-container">
      <div class="content-container">
        <!-- Banner start -->
        <div class="jumbotron banner-bg-3 heroContainer fixed-bg home-banner pl-2 pr-2 pl-sm-3 pr-sm-3 pl-md-3 pr-md-3 pl-lg-6 pr-lg-6 pb-4 pt-4">
          <div class="container container-1440 info-wrapper">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="h1 text-white text-center">
                  <img src="assets/images/angular.svg" class="img-valign" width="55" height="55" alt="Angular">
                  <img id="fc-logo" class="img-valign" src="assets/images/fc-min-logo.svg" width="40" height="40" alt="FusionCharts" />
                  <span class="title pl-1">Angular FusionCharts</span>
                </div>
                <div class="h3 text-white text-center mt-2">
                  <span class="sub-title primary">
                    A simple and effective Angular module for FusionCharts javascript charting library.
                  </span>
                </div>
                <div class="p text-white text-center mt-2">
                  <span class="sub-title secondary">
                    The Angular-FusionCharts module lets you easily include FusionCharts in your Angular projects and add interactive charts
                    to your Angular applications.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner end -->


      <!-- Feature Section start -->
      <div class="container container-1200 info-wrapper pb-3">
        <div class="row">
          <div class="col">
            <div class="h2 mt-2">Features</div>
            <!-- list start -->
            <div class="row">
              <div class="col-md-6">
                <ul class="feature-list">
                  <li>
                    <span>
                      <i class="icn-inline icn-success fc_select"></i>
                    </span>
                    <div>Adds a chart using just one single component.</div>
                  </li>
                  <li>
                    <span>
                      <i class="icn-inline icn-success fc_select"></i>
                    </span>
                    <div>Auto-updates the chart object when the data source is modified.</div>
                  </li>
                  <li>
                    <span>
                      <i class="icn-inline icn-success fc_select"></i>
                    </span>
                    <div>Adds a chart from a JSON URL, from a XML URL, or using props Binding.</div>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="feature-list">
                  <li>
                    <span>
                      <i class="icn-inline icn-success fc_select"></i>
                    </span>
                    <div>Allows you to enable interactivity between Javascript charts</div>
                  </li>
                  <li>
                    <span>
                      <i class="icn-inline icn-success fc_select"></i>
                    </span>
                    <div>Offers advanced control by giving you access to the complete FusionCharts object (containing the chart
                      configuration).
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- list end -->
          </div>
        </div>
      </div>
      <!-- Feature Section end -->

      <!-- Demo Section start -->
      <div class="demo bg-light-purple pt-4 pb-4">
        <div class="container container-1200 info-wrapper" >
          <!-- Chart selection for mobile devices - start -->
          <div class="row">
            <div class="col-12 d-flex justify-content-center d-md-none">
              <div id="mobileChart-selector" class="base-dropdown chart-selector">
                <div class="selector" (click)="toggleModal(true)">{{selectedTitle}}</div>
                <div class="placeholder">Quick Demo:</div>
                <div class="caret">
                  <i class="fc_dropdown"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal for selection (Only for Mobile Devices) -->
          <div id="myModal" class="modal" style="z-index: 100;" [ngClass]="isModalOpen ? modalClasses : 'fade'" [ngStyle]="isModalOpen ? { display:'block', 'padding-left': '0px'} : {display:'none'}">

            <!-- Modal content -->
            <div class="modal-content" >
              <div class="nav-list">
                <div class="nav-item" [ngClass]="sampleCode['ex1'].title === selectedTitle ? 'selected' : ''">
                  <div class="p" (click)='openPage("/ex1")'>
                    {{sampleCode['ex1'].title}}
                  </div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex26'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p" (click)='openPage("/ex26")'>
                      {{sampleCode['ex26'].title}}
                    </div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex30'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p" (click)='openPage("/ex30")'>
                      {{sampleCode['ex30'].title}}
                    </div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex31'].title === selectedTitle ? 'selected' : ''">
                    <div class="nav-group">
                      <div class="p" (click)='openPage("/ex31")'>
                        {{sampleCode['ex31'].title}}
                      </div>
                      <div class="h5 badge badge-normal">FusionTime</div>
                    </div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex2'].title === selectedTitle ? 'selected' : ''">
                  <div class="p" (click)='openPage("/ex2")'>{{sampleCode['ex2'].title}}</div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex12'].title === selectedTitle ? 'selected' : ''">
                  <div class="p" (click)='openPage("/ex12")'>{{sampleCode['ex12'].title}}</div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex3'].title === selectedTitle ? 'selected' : ''">
                  <div class="p" (click)='openPage("/ex3")'>{{sampleCode['ex3'].title}}</div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex28'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p" (click)='openPage("/ex28")'>{{sampleCode['ex28'].title}}</div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex27'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p" (click)='openPage("/ex27")'>{{sampleCode['ex27'].title}}</div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>
                </div>
                <div class="nav-item" [ngClass]="sampleCode['ex29'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p" (click)='openPage("/ex29")'>{{sampleCode['ex29'].title}}</div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>
                </div>
                <div class="nav-item" (click)='openPage("/ex5")' [ngClass]="sampleCode['ex5'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex5'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex5a")' [ngClass]="sampleCode['ex5a'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex5a'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex6")' [ngClass]="sampleCode['ex6'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex6'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex8")' [ngClass]="sampleCode['ex8'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex8'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex7")' [ngClass]="sampleCode['ex7'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex7'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex9")' [ngClass]="sampleCode['ex9'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex9'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex10")' [ngClass]="sampleCode['ex10'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex10'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex11")' [ngClass]="sampleCode['ex11'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex11'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex36")' [ngClass]="sampleCode['ex36'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p">{{sampleCode['ex36'].title}}</div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>
                </div>
                <div class="nav-item" (click)='openPage("/ex33")' [ngClass]="sampleCode['ex33'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex33'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex34")' [ngClass]="sampleCode['ex34'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p">{{sampleCode['ex34'].title}}</div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>
                </div>
                <div class="nav-item" (click)='openPage("/ex35")' [ngClass]="sampleCode['ex35'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p">{{sampleCode['ex35'].title}}</div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>
                </div>
                <div class="nav-item" (click)='openPage("/ex12")' [ngClass]="sampleCode['ex12'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex12'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex13")' [ngClass]="sampleCode['ex13'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex13'].title}}</div>
                </div>
                <!-- <div class="nav-item" (click)='openPage("/ex14")' [ngClass]="sampleCode['ex14'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex14'].title}}</div>
                </div> -->
                <!-- <div class="nav-item" (click)='openPage("/ex15")' [ngClass]="sampleCode['ex15'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex15'].title}}</div>
                </div> -->
                <div class="nav-item" (click)='openPage("/ex16")' [ngClass]="sampleCode['ex16'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex16'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex23")' [ngClass]="sampleCode['ex23'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex23'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex17")' [ngClass]="sampleCode['ex17'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex17'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex24")' [ngClass]="sampleCode['ex24'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex24'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex20")' [ngClass]="sampleCode['ex20'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex20'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex21")' [ngClass]="sampleCode['ex21'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex21'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex22")' [ngClass]="sampleCode['ex22'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex22'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex25")' [ngClass]="sampleCode['ex25'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex25'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex18")' [ngClass]="sampleCode['ex18'].title === selectedTitle ? 'selected' : ''">
                  <div class="p">{{sampleCode['ex18'].title}}</div>
                </div>
                <div class="nav-item" (click)='openPage("/ex32")' [ngClass]="sampleCode['ex32'].title === selectedTitle ? 'selected' : ''">
                  <div class="nav-group">
                    <div class="p">{{sampleCode['ex32'].title}}</div>
                    <div class="h5 badge badge-normal">FusionTime</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Chart selection for mobile devices - end -->

          <div class="row">
            <div class="side-nav col-3 d-none d-md-block">
              <div class="nav-heading">Quick Demo:</div>
              <!-- Demo List -->
              <div class="nav-list demo-list">
                <a [routerLinkActive]="['active']" [routerLink]="['/ex1']" href="#/demos/ex1" (click)="updateId('ex1')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex1'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex1'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex26']" href="#/demos/ex26" (click)="updateId('ex26')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex26'].title}}</div>
                        <div class="h5 badge badge-normal">FusionTime</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex26'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex30']" href="#/demos/ex30" (click)="updateId('ex30')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex30'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex30'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex30'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex31']" href="#/demos/ex31" (click)="updateId('ex31')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex31'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex31'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex31'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex2']" href="#/demos/ex2" (click)="updateId('ex2')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex2'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex2'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex12']" href="#/demos/ex12" (click)="updateId('ex12')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex12'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex12'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex3']" href="#/demos/ex3" (click)="updateId('ex3')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex3'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex3'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex28']" href="#/demos/ex28" (click)="updateId('ex28')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex28'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex28'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex28'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex27']" href="#/demos/ex26" (click)="updateId('ex27')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex27'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex27'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex27'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex29']" href="#/demos/ex29" (click)="updateId('ex29')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex29'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex29'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex29'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex5']" href="#/demos/ex5" (click)="updateId('ex5')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex5'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex5'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex5a']" href="#/demos/ex5a" (click)="updateId('ex5a')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex5a'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex5a'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex6']" href="#/demos/ex6" (click)="updateId('ex6')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex6'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex6'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex8']" href="#/demos/ex8" (click)="updateId('ex8')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex8'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex8'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex7']" href="#/demos/ex7" (click)="updateId('ex7')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex7'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex7'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex9']" href="#/demos/ex9" (click)="updateId('ex9')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex9'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex9'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex11']" href="#/demos/ex11" (click)="updateId('ex11')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex11'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex11'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex36']" href="#/demos/ex36" (click)="updateId('ex36')">
                  <div class="nav-item">
                    <div class="nav-group">
                      <div class="h5">{{sampleCode['ex36'].title}}</div>
                      <div class="h5 badge badge-normal">{{sampleCode['ex36'].type}}</div>
                    </div>
                    <div class="p item-desc">{{sampleCode['ex36'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex33']" href="#/demos/ex33" (click)="updateId('ex33')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex33'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex33'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex33'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex34']" href="#/demos/ex34" (click)="updateId('ex34')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex34'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex34'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex34'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex35']" href="#/demos/ex35" (click)="updateId('ex35')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex35'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex35'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex35'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex10']" href="#/demos/ex10" (click)="updateId('ex10')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex10'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex10'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex13']" href="#/demos/ex13" (click)="updateId('ex13')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex13'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex13'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex16']" href="#/demos/ex16" (click)="updateId('ex16')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex16'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex16'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex23']" href="#/demos/ex23" (click)="updateId('ex23')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex23'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex23'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex17']" href="#/demos/ex17" (click)="updateId('ex17')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex17'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex17'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex24']" href="#/demos/ex24" (click)="updateId('ex24')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex24'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex24'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex20']" href="#/demos/ex20" (click)="updateId('ex20')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex20'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex20'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex21']" href="#/demos/ex21" (click)="updateId('ex21')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex21'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex21'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex22']" href="#/demos/ex22" (click)="updateId('ex22')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex22'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex22'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex25']" href="#/demos/ex25" (click)="updateId('ex25')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex25'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex25'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex18']" href="#/demos/ex18" (click)="updateId('ex18')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex18'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex18'].description}}</div>
                  </div>
                </a>
                <a [routerLinkActive]="['active']" [routerLink]="['/ex32']" href="#/demos/ex32" (click)="updateId('ex32')">
                  <div class="nav-item">
                      <div class="nav-group">
                        <div class="h5">{{sampleCode['ex32'].title}}</div>
                        <div class="h5 badge badge-normal">{{sampleCode['ex32'].type}}</div>
                      </div>
                    <div class="p item-desc">{{sampleCode['ex32'].description}}</div>
                  </div>
                </a>
                <!-- <a [routerLinkActive]="['active']" [routerLink]="['/ex19']" href="#/demos/ex19" (click)="updateId('ex19')">
                  <div class="nav-item">
                    <div class="h5">{{sampleCode['ex19'].title}}</div>
                    <div class="p item-desc">{{sampleCode['ex19'].description}}</div>
                  </div>
                </a> -->
              </div>
            </div>
            <div class="col-md-9 col-12" ng-controller="DemoController">

              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <!-- Demo Section end -->

      <!-- info section start -->
      <div class="container container-1200 info-wrapper pt-4" style="z-index: 0;">
        <div class="row">
          <div class="col">
            <div class="h2 mt-2">Quick Start</div>
          </div>
        </div>
        <!-- steps -->
        <div class="row">
          <div class="col-12 pt-3">
            <div class="h5">
              <span>Step 1: Install the Angular-FusionCharts</span>
            </div>
            <p class="code-desc">In the terminal run the following command:</p>
            <div class="code-view mt-2">
              <div class="card-shadow">
                <div class="card-body p-0">
                  <div class="code-panel">
                    <div class="codeMirrorDiv" id="c1">
                      <codemirror [(ngModel)]="installCode" [config]="{ 
                                        lineNumbers: true,
                                        theme:'dracula', 
                                        tabSize: '4',
                                        smartIndent: true,
                                        readOnly: true,
                                        mode:'javascript'
                                    }">
                      </codemirror>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="code-desc">Also install FusionCharts, if it is not already installed:</p>
            <div class="code-view mt-2">
              <div class="card-shadow">
                <div class="card-body p-0">
                  <div class="code-panel">
                    <div class="codeMirrorDiv" id="c2">
                      <codemirror [(ngModel)]="installFusionCharts" [config]="{ 
                                        lineNumbers: true,
                                        theme:'dracula', 
                                        tabSize: '4',
                                        smartIndent: true,
                                        readOnly: true,
                                        mode:'javascript'
                                    }">
                      </codemirror>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- steps -->

        <div class="row">
          <div class="col-12 pt-3">
            <div class="h5">
              <span>Step 2: Import the
                <a href="//www.npmjs.com/package/angular-fusioncharts" target="_blank">Angular FusionCharts </a> module</span>
            </div>
            <p class="code-desc">
              In the root Angular
              <code>@NgModule</code> import FusionChartsModule from
              <code>angular-fusioncharts</code> and add the
              <code>FusionChartsModule</code> as a dependency.
            </p>
            <div class="code-view mt-2">
              <div class="card-shadow">
                <div class="card-body p-0">
                  <div class="code-panel">
                    <div class="codeMirrorDiv" id="c3">
                      <codemirror [(ngModel)]="includeInModule" [config]="{ 
                                lineNumbers: true,
                                theme:'dracula', 
                                tabSize: '4',
                                smartIndent: true,
                                readOnly: true,
                                mode:'javascript'
                            }">
                      </codemirror>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pt-3">
            <div class="h5">
              <span>Step 3: Add the
                <code>fusiocharts</code> directive</span>
            </div>
            <p class="code-desc">
              In the template, add a
              <code>&lt;fusioncharts&gt;</code> directive in the section where you wish to render the chart. We are assuming it's
              <code>AppComponent</code> which would change based on your usage.
            </p>
            <div class="code-view mt-2">
              <div class="card-shadow">
                <div class="card-body p-0">
                  <div class="code-panel">
                    <div class="codeMirrorDiv">
                      <codemirror [(ngModel)]="useDirective" [config]="{ 
                                      lineNumbers: true,
                                      theme:'dracula', 
                                      tabSize: '4',
                                      smartIndent: true,
                                      readOnly: true,
                                      mode:'javascript'
                                  }">
                      </codemirror>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- steps end -->
        <div class="row">
          <div class="col">
            <div class="h2 mt-2">Render FusionMaps</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="code-desc">To render a map, import the FusionMaps module along with the map definition. Then pass as a dependency to
              <code>FusionChartsModule</code> in the
              <code>@NgModule</code>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 pt-1">
            <div class="code-view mt-2">
              <div class="card-shadow">
                <div class="card-body p-0">
                  <div class="code-panel">
                    <div class="codeMirrorDiv" id="c3">
                      <codemirror [(ngModel)]="renderFusionMaps" [config]="{ 
                                    lineNumbers: true,
                                    theme:'dracula', 
                                    tabSize: '4',
                                    smartIndent: true,
                                    readOnly: true,
                                    mode:'javascript'
                                }">
                      </codemirror>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="code-desc pt-1">In the template</p>
        <div class="row">
          <div class="col-12">
            <div class="code-view">
              <div class="card-shadow">
                <div class="card-body p-0">
                  <div class="code-panel">
                    <div class="codeMirrorDiv" id="c3">
                      <codemirror [(ngModel)]="mapHtml" [config]="{ 
                                        lineNumbers: true,
                                        theme:'dracula', 
                                        tabSize: '4',
                                        smartIndent: true,
                                        readOnly: true,
                                        mode:'htmlembedded'
                                    }">
                      </codemirror>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="h2 mt-2">Usage and integration of FusionTime</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="code-desc">From <code>fusioncharts@3.13.3-sr.1</code> and <code>angular-fusioncharts@3.0.0</code>, You can visualize timeseries data easily with angular.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 pt-3">
              <div class="h5">
                <span>Setup for FusionTime
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="code-view mt-2">
                <div class="card-shadow">
                  <div class="card-body p-0">
                    <div class="code-panel">
                      <div class="codeMirrorDiv" id="c3">
                        <codemirror [(ngModel)]="setupFusionTime" [config]="{ 
                                      lineNumbers: true,
                                      theme:'dracula', 
                                      tabSize: '4',
                                      smartIndent: true,
                                      readOnly: true,
                                      mode:'javascript'
                                  }">
                        </codemirror>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 pt-3">
              <div class="h5">
                <span>Component code
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="code-view mt-2">
                <div class="card-shadow">
                  <div class="card-body p-0">
                    <div class="code-panel">
                      <div class="codeMirrorDiv" id="c3">
                        <codemirror [(ngModel)]="fusionTimeComponentCode" [config]="{ 
                          lineNumbers: true,
                          theme:'dracula', 
                          tabSize: '4',
                          smartIndent: true,
                          readOnly: true,
                          mode:'javascript'
                                      }">
                        </codemirror>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-12 pt-3">
                <div class="h5">
                  <span>Template Code
                  </span>
                </div>
              </div>
              <div class="col-12">
                <div class="code-view mt-2">
                  <div class="card-shadow">
                    <div class="card-body p-0">
                      <div class="code-panel">
                        <div class="codeMirrorDiv" id="c3">
                          <codemirror [(ngModel)]="fusionTimeTemplateCode" [config]="{ 
                            lineNumbers: true,
                                        theme:'dracula', 
                                        tabSize: '4',
                                        smartIndent: true,
                                        readOnly: true,
                                        mode:'htmlembedded'
                                        }">
                          </codemirror>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <div class="row">
          <div class="col-12 pt-3">
            <div class="h5">Support</div>
            <p>
              <a class="ref-link" href="//github.com/fusioncharts/angular-fusioncharts/issues" target="_blank">GitHub Issues</a> |
              <a class="ref-link" href="mailto:support@fusioncharts.com" target="_blank">Contact FusionCharts Support</a>
            </p>
          </div>
        </div>
        <!-- licensing footer starts -->
        <div class="row">
          <div class="col-12 pt-3">
            <div class="h5">Licensing</div>
            <p>Angular FusionCharts module is licensed under open-source, distributed under the terms of the MIT/X11 License.
              You will still need to include FusionCharts in your page, as this project provides no direct functionality.
              You can download a free evaluation version
              <a class="ref-link" href="//www.fusioncharts.com/download/" target="_blank">here</a>. To use in a commercial environment, please
              <a class="ref-link" href="//www.fusioncharts.com/buy/" target="_blank">purchase a FusionCharts license</a>.</p>
          </div>
        </div>
        <!-- licensing footer ends -->
        <!-- info section end -->
      </div>

      <!-- footer start -->
      <div id="footbar" class="row text-center mt-2">
        <div class="col-12">
          <p class="foot-item pt-4">© 2002-2018 InfoSoft Global Private Limited. All Rights Reserved.</p>
        </div>
      </div>
      <!-- footer end -->

    </div>
  </div>
</div>
